{% extends "base.html" %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}glossary.css" />
{% endblock %}

{% block content %}
    <dl class="glossary term_detail">
        <dt><a href="{% url 'django_glossary:term-detail' slug=object.slug %}">{{ term.title }}</a></dt>
        {% for synonym in term.synonyms.all  %}
            <dt class="synonym">{{ synonym.title }}</dt>
        {% endfor %}
        <dd class="definition">{{ term.description|safe }}</dd>
    </dl>
{% endblock %}
